#tablica {
    font-family: "Arial";
    width: 100%;
    border-collapse: collapse;
}

#tablica td, #tablica th {
    font-size: 1em;
    border: 2px solid #428cc9;
    padding: 3px 7px 2px 7px;
}

#tablica th {
    font-size: 1.2em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #428cc9;
    color: #ffffff;
}

