@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Cookie added - Check dev. tools (F12/Storage tab, Mozilla)</p>
    <p>Cookie variable is "CookieAuth" (type:guid)</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
